{% extends 'base.html' %}

{% block title %}Instant Print{% endblock title %}

{% block body_block %}
<main class="h-full overflow-y-auto">
    <div class="container px-6 mb-6 mx-auto grid">
      <h2
        class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
      >
        Welcome {{request.user.username}}
      </h2>


      <div class="col-6 mx-auto" style="margin-top:10%;">
        <form action="{% url 'payment' %}" method='POST'>
            {% csrf_token %}
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Name</label>
              <input type="name" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Amount</label>
              <input type="number" name="amount" class="form-control" id="exampleInputPassword1">
            </div>
            <div>
            <button type="submit" class="btn btn-primary">Pay Now</button>
            </div>
          </form>
    </div>

    </div>
  </main>
  {% endblock body_block %}