{% extends 'base.html' %}

{% block title %}Settings{% endblock title %}

{% block body_block %}
<main class="h-full overflow-y-auto">
  <div class="container px-6 mb-6 mx-auto grid">
    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
      Settings
    </h2>

    <!-- set spin form  -->

{% if not spin %}
    <div
      class="p-4 bg-white rounded-lg shadow-md sm:p-6 lg:p-8 dark:bg-gray-800">

        <form method="post" class="space-y-6">
      <h5 class="text-xl font-medium text-gray-900 dark:text-white">Setup S-Pin</h5>
      <p class="text-gray-600 dark:text-gray-400">
        Enter your S-Pin to complete your account setup. <br />
        S-Pin is a 4-digit code that will be used for encrypting your documents.
        Remember this code, as it will be required before printing and deleting your documents.
      </p>
      {% csrf_token %}
      <label class="block text-sm mt-6">
        <span class="text-gray-700 dark:text-gray-400">Set Secure Pin</span>
        <input
          class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input text-center"
          placeholder="XXXX" name="pin" type="number" />
      </label>
      <label class="block text-sm mt-6">
        <span class="text-gray-700 dark:text-gray-400">Set Secure Pin</span>
        <input
          class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input text-center"
          placeholder="XXXX" name="confpin" type="number" />
      </label>
      <button
        class="px-4 py-2 mt-6 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
        type="submit">
        Submit
      </button>
    </form>
  </div>
  {% else %}
  <div
      class="p-4 bg-white rounded-lg shadow-md sm:p-6 lg:p-8 dark:bg-gray-800">

        <form method="post" class="space-y-6">
      <h5 class="text-xl font-medium text-gray-900 dark:text-white">Forgot S-Pin</h5>
      {% csrf_token %}
      <p class="text-gray-600 dark:text-gray-400 pt-2">
        We will reset your S-Pin and send it to your email.
      </p>
      <button
        class="px-4 py-2 mt-6 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
        type="submit">
        Send Email
      </button>
    </form>
  </div>
  {% endif %}




  </div>
</main>
{% endblock body_block %}