{% extends 'empty_base.html' %}
{% load static %}
{% block title %}Email Sent{% endblock title %}
{% block body_block %}

<div class="flex items-center justify-center min-h-screen p-6 bg-gray-50 dark:bg-gray-900">
    <div
      class="flex-1 max-w-xl mx-auto overflow-hidden bg-white rounded-lg shadow-xl dark:bg-gray-800"
    >
      
        
        <div class="flex items-center justify-center p-6 sm:p-12">
          <div class="w-full">
              <img src="{% static 'img/gifs/done.gif' %}" width="108px" class="mx-auto" >
            <h1
              class="mb-4 mt-4 text-xl font-semibold text-center text-gray-700 dark:text-gray-200"
            >
              Check your email
            </h1>
            <p class="text-center text-gray-500 dark:text-gray-400">
                We have sent you a magic link to your email address<br />
                Click the link to login automatically.<br />
            </p>
            <p class="text-center mt-4 text-gray-500 dark:text-gray-400">
                Link is valid for 5 minutes only!
            </p>
            
          </div>
   
      </div>
    </div>
  </div>



{% endblock body_block %}