<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
    {% load static %}

    {% load pwa %}

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>eDocPrint - {% block title %}{% endblock title %}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/tailwind.output.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <script src="{% static 'js/init-alpine.js' %}"></script>
   
    <link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
    <script src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>
    <script src="{% static 'js/filepond.js' %}"></script>
    <script src="{% static 'sw.js' %}"></script>
    {% progressive_web_app_meta %}

  </head>
  <body>
    <div
      class="flex h-screen bg-gray-50 dark:bg-gray-900"
      :class="{ 'overflow-hidden': isSideMenuOpen }"
    >
      <!-- Desktop sidebar -->
      {% include 'sidebar.html' %}
      <div class="flex flex-col flex-1 w-full">
        
        {% include 'navbar.html' %}

        {% if not spin %}
        <a
        class="flex items-center justify-between mr-6 ml-6 mt-6 p-4 text-sm font-semibold text-purple-100 bg-purple-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple"
        href="{% url 'settings' %}"
        >
        <div class="flex items-center">
          <span>Set Your S-Pin</span>
        </div>
        <span>Click here &RightArrow;</span>
      </a>
      {% endif %}
      {% block body_block %}{% endblock body_block %}
    </div>
    </div>
  </body>
</html>
