<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
    {% load static %}

    {% load pwa %}

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>eDocPrint - {% block title %}{% endblock title %}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/tailwind.output.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    
    <script src="https://js.stripe.com/v3/"></script>  <!-- new -->

    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <script src="{% static 'js/init-alpine.js' %}"></script>
   
    <link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
    <script src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/css/alertify.min.css" integrity="sha512-IXuoq1aFd2wXs4NqGskwX2Vb+I8UJ+tGJEu/Dc0zwLNKeQ7CW3Sr6v0yU3z5OQWe3eScVIkER4J9L7byrgR/fA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.min.js" integrity="sha512-JnjG+Wt53GspUQXQhc+c4j8SBERsgJAoHeehagKHlxQN+MtCCmFDghX9/AcbkkNRZptyZU4zC8utK59M5L45Iw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/filepond.js' %}"></script>
    <script src="{% static 'sw.js' %}"></script>
    <script src="{% static 'js/main.js' %}" ></script>
    {% progressive_web_app_meta %}
  </head>
  <body>
    <div
      class="flex h-screen bg-gray-50 dark:bg-gray-900"
      :class="{ 'overflow-hidden': isSideMenuOpen }"
    >
      <!-- Desktop sidebar -->
      {% include 'sidebar.html' %}
      <div class="flex flex-col flex-1 w-full">
        
        {% include 'navbar.html' %}

        {% if not request.user.is_staff %}
        {% if not spin %}
        <a
        class="flex items-center justify-between mr-6 ml-6 mt-6 p-4 text-sm font-semibold text-purple-100 bg-purple-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple"
        href="{% url 'settings' %}"
        >
        <div class="flex items-center">
          <span>Set Your S-Pin</span>
        </div>
        <span>Click here &RightArrow;</span>
      </a>
      {% endif %}
      {% endif %}
      {% block body_block %}{% endblock body_block %}
      

        
    
  </body>
  <script>
    alertify.set('notifier','position', 'top-center');
    {% for msg in messages %}
    {% if msg.tags == 'success' %}
    alertify.success('{{msg}}');
    {% elif msg.tags == 'error' %}
    alertify.error('{{msg}}');
    {% endif %}
    {% endfor %}
  </script>
</html>
