{% extends 'base.html' %}

{% block title %}Orders Received{% endblock title %}

{% block body_block %}
<main class="h-full overflow-y-auto">
  <div class="container px-6 mb-6 mx-auto grid">
    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
      {% if request.user.is_staff %}
      Received Orders
      {% else %}
      Your Orders
      {% endif %}
    </h2>

{% if orders|length > 0 %}
            <div class="w-full overflow-hidden rounded-lg shadow-xs">
              <div class="w-full overflow-x-auto">
                <table class="w-full whitespace-no-wrap">
                  <thead>
                    <tr
                      class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
                    >
                      <th class="px-4 py-3">NAME</th>
                      <th class="px-4 py-3">Amount</th>
                      <th class="px-4 py-3">Status</th>
                      <th class="px-4 py-3">PRINT TYPE</th>
                      <th class="px-4 py-3">ACTIONS</th>
                    </tr>
                  </thead>
                  <tbody
                    class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
                  >
                  {% for order in orders %}
                    <tr class="text-gray-700 dark:text-gray-400">
                      <td class="px-4 py-3">
                        <div class="text-sm">
                          {% if request.user.is_staff %}
                          <p class="font-semibold text-lg">{{order.user.first_name}} {{order.user.last_name}}</p>
                          <p class="text-sm text-gray-500">{{order.document.name|truncatechars:30}}.pdf</p>
                          {% else %}
                          <p class="font-semibold">{{order.document.name|truncatechars:30}}</p>
                          {% endif %}
                        </div>
                      </td>
                      <td class="px-4 py-3 text-sm">
                        Rs. {{order.tostore_rate}}
                      </td>
                      <td class="px-4 py-3 text-xs">
                        {{order.payment_mode|upper}} - 
                        <span
                          class="px-2 py-1 font-semibold leading-tight {% if order.payment_status == "Paid" %} text-gree-700 bg-green-100 dark:bg-green-700 dark:text-green-100 {% else %} text-orange-700 bg-orange-100 dark:bg-orange-100 dark:text-orange-700 {% endif %}  rounded-full "
                        >
                          {{order.payment_status}}
                        </span>
                      </td>
                      <td class="px-4 py-3 text-sm">
                        {{order.print_type|upper}}
                      </td>
                      <td class="px-4 py-3">
                        <div class="flex items-center space-x-4 text-sm">
                          <a href="{{order.document.document.url}}" target="_blank"
                            class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                            
                          >
                          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="24" height="24" viewBox="0 0 24 24"><path d="M15 12c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm9-.449s-4.252 8.449-11.985 8.449c-7.18 0-12.015-8.449-12.015-8.449s4.446-7.551 12.015-7.551c7.694 0 11.985 7.551 11.985 7.551zm-7 .449c0-2.757-2.243-5-5-5s-5 2.243-5 5 2.243 5 5 5 5-2.243 5-5z"/></svg>
                          </a>
                          {% if request.user.is_staff %}
                          <button onclick="openprint('{{order.document.document.url}}')" class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                            
                          >
                          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="24" height="24" viewBox="0 0 24 24"><path d="M18 17l3 6h-18l3-6h2.203l-1.967 4h11.527l-1.956-4h2.193zm6-12v14h-2.764l-2-4h-14.472l-2 4h-2.764v-14h4v-4h16v4h4zm-6-2h-12v2h12v-2zm4 4.5c0-.276-.224-.5-.5-.5s-.5.224-.5.5.224.5.5.5.5-.224.5-.5z"/></svg>
                          </button>
                        
                          {% if not order.payment_status == "Paid" %}
                          <a href="{% url 'paidOrder' id=order.id %}" 
                            class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray" 
                            
                          >
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24"><path d="M0 8v-2c0-1.104.896-2 2-2h18c1.104 0 2 .896 2 2v2h-22zm24 7.5c0 2.485-2.015 4.5-4.5 4.5s-4.5-2.015-4.5-4.5 2.015-4.5 4.5-4.5 4.5 2.015 4.5 4.5zm-2.156-.882l-.696-.696-2.116 2.169-.991-.94-.696.697 1.688 1.637 2.811-2.867zm-8.844.882c0 1.747.696 3.331 1.82 4.5h-12.82c-1.104 0-2-.896-2-2v-7h14.82c-1.124 1.169-1.82 2.753-1.82 4.5zm-5 .5h-5v1h5v-1zm3-2h-8v1h8v-1z"/></svg>
                          </a>
                          {% endif %}
                          {% else %}
                          <a href="{% url 'deleteOrder' id=order.id %}"
                            class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-red-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                            
                          >              <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                              d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                              clip-rule="evenodd"></path>
                          </svg>
                          </a>
                          {% endif %}
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div
                class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800"
              >
                <span class="flex items-center col-span-3">
                  Showing {{orders|length}} {% if orders|length == 1 %}record {% else %}records{% endif %}
                </span>
                
              </div>

              {% else %}
              No Orders Found
              {% endif %}
  


  


  
  </div>
</main>


<script>
  function openprint(url){
    x = window.open(url)
    x.window.print()
  }
</script>

{% endblock body_block %}